#red {
    color: red;
}
#green {
    color: green;
}
#blue {
    color: blue;
}
#yellow {
    color: yellow;
}
#orange {
    color: orange;
}
#purple {
    color: rgb(95, 0, 212);
}
#white {
    color: white;
}
